#Visual Studio files
*.pidb
*.userprefs
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/

GhostOfDarkness/[Gg]game/[Oo]bj/
GhostOfDarkness/[Gg]game/[Bb]in
GhostOfDarkness/[Gg]game/[Dd]ebug*/
GhostOfDarkness/[Gg]game/[Rr]elease*/

GhostOfDarkness/[Mm]apEditor/[Oo]bj/
GhostOfDarkness/[Mm]apEditor/[Bb]in
GhostOfDarkness/[Mm]apEditor/[Dd]ebug*/
GhostOfDarkness/[Mm]apEditor/[Rr]elease*/

Ankh.NoLoad

#Project files
GhostOfDarkness/[Gg]game/[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

*.cachefile
*.dll
/GhostOfDarkness/.idea/.idea.GhostOfDarkness/.idea/workspace.xml
/GhostOfDarkness/.idea/.idea.GhostOfDarkness/.idea/workspace.xml
/GhostOfDarkness/.idea/.idea.GhostOfDarkness/.idea/workspace.xml
/GhostOfDarkness/Game/bin/Debug/net6.0-windows/TestResult.xml
/GhostOfDarkness/Game/obj/Debug/net6.0-windows/Game.AssemblyInfo.cs
/GhostOfDarkness/Game/obj/Debug/net6.0-windows/Game.sourcelink.json
