#Visual Studio files
*.pidb
*.userprefs
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/

GhostOfDarkness/[Cc]ore/[Oo]bj*/
GhostOfDarkness/[Cc]ore/[Bb]in*/
GhostOfDarkness/[Cc]ore/[Dd]ebug*/
GhostOfDarkness/[Cc]ore/[Rr]elease*/

GhostOfDarkness/[Gg]ame/[Oo]bj*/
GhostOfDarkness/[Gg]ame/[Bb]in*/
GhostOfDarkness/[Gg]ame/[Dd]ebug*/
GhostOfDarkness/[Gg]ame/[Rr]elease*/

GhostOfDarkness/[Mm]apEditor/[Oo]bj*/
GhostOfDarkness/[Mm]apEditor/[Bb]in*/
GhostOfDarkness/[Mm]apEditor/[Dd]ebug*/
GhostOfDarkness/[Mm]apEditor/[Rr]elease*/

Ankh.NoLoad

#Project files
GhostOfDarkness/[Gg]ame/[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

*.cachefile
*.dll
/GhostOfDarkness/.idea/
